/* custom stylesheet for Nhu's website */

/* FONTS */
@font-face
{
    font-family: tag;
    src: url(../fonts/tag.ttf);
}

h2#name{
    font-family:tag; 
    font-size: 400%;
    color: white !important;
}


.links{
    font-family: Avenir Next;
    font-size: 150%;
    position: absolute;
    top: 5px;
    right: 60px;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

body { 
    padding-top: 70px;
}

.page-header{
    border-bottom-color: #1F4788;
    border-bottom-width: 5px;
}

.timeline-title, .panel-title, .title{
    font-family: Avenir Next;
    fon-size: 100%
}

.panel-title{
    font-size: 150%;
    font-weight: 300;
}

.panel-primary > .panel-heading {
  color: black;
  background-color: #89C4F4;
  border-color: #89C4F4;
}

p, .table {
    font-family: Avenir Next;
    font-size: 110%
}

a {
    color: black;
}

a:hover {
    color: white;
}

#homegraphic{
width:1024px;
height:450px;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 0px;
}

body.home {
    padding-top: 0px !important;
}

h2 {color: white; }

/*copied from http://codepen.io/munkhbayar/pen/Boqzc */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 10px;
  background-color: #1F4788;
  left: 2px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  left: 25px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 90%;
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 0;
  margin-left: -29px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: left;
  margin-left: 8px
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.danger {
  background-color: gray !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/* Block Quote*/
blockquote #quote{
    font-family: Avenir Next;
    font-size: 27px;
    font-style: italic;
    width: 500px;
    margin: .25em 0;
    padding: 0.25em 40px 0.10px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote #quote:before {
    display: block;
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote #translation {
    font-family: Avenir Next;
    font-size: 13px;
    text-indent: 40px;
}

blockquote cite {
    color: #999999;
    font-size: 16px;
    display: block;
    margin-top: 5px;
    text-align: right;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}

.row {
    overflow:hidden;
    margin:10px;
}

img {
    margin-top: 20px;
}

.line-break {
    height:1px;
    background: white;
    margin-top: 3px;
    border-bottom:4px solid #C1C1BE;
}

.panel {
    margin-top: 10px;
}

.navbar-inverse {
    background-color: #1F4788;
    border-bottom-color: #1F4788;
}

.icons{
    margin-top: 200px;
    align-content: center;
}    

#email, #linkedin, #facebook, #instagram {
	position:relative;
	height: 240px;
	text-indent: -1000em;
    border-bottom-color: #89C4F4;
}

#email a{
    background: url(../images/emailicon.png) no-repeat;
    display: block;
	width: 242px;
	height: 240px;
}

#email a:hover{
    background: url(../images/emailiconhover.png) no-repeat;
    border: none;
}

#linkedin a{
	background: url(../images/inicon.png) no-repeat;
    display: block;
	width: 242px;
	height: 240px;
}

#linkedin a:hover{
    background: url(../images/iniconhover.png) no-repeat;
    border: none;
}

#facebook a{
	background: url(../images/facebookicon.png) no-repeat;
    display: block;
	width: 242px;
	height: 240px;
}

#facebook a:hover{
    background: url(../images/facebookiconhover.png) no-repeat;
    border: none;
}

#instagram a{
	background: url(../images/instagramicon.png) no-repeat;
    display: block;
	width: 242px;
	height: 240px;
}

#instagram a:hover{
    background: url(../images/instagramiconhover.png) no-repeat;
    border: none;
}
